{
    "extends": [
        "@commitlint/config-conventional",
        "@commitlint/config-lerna-scopes"
    ],
    "rules": {
        "subject-case": [
            2,
            "always",
            [
                "sentence-case"
            ]
        ],
        "header-max-length":[
            1,
            "always",
            200
        ]
    },
    "prompt": {
        "settings": {
            "enableMultipleScopes": true
        }
    }
}
